$gray: #767e94;
$orange: #f58a2f;
$orange-light: #f9a533;
$orange-dark: #f05a2d;
$white: #ebeef5;
$white-65: rgba(255, 255, 255, 0.65);
$black-65: rgba(0, 0, 0, 0.65);
$black-80: rgba(0, 0, 0, 0.8);
$navy-blue: #0f1627;
$navy-blue-80: rgba(15, 22, 39, 0.8);
$navy-blue-93: rgba(15, 22, 39, 0.93);
$navy-blue-light: #20283e;
